{% extends 'extranet.html.twig' %}

{% block extranetdashboard 'active' %}
{% block title %}
    Escritorio de opciones de la extranet de CUPON
{% endblock %}

{% block maincontent %}
    <div class="col-lg-12">
        <h1 class="page-header">Nombre de Tienda</h1>
    </div>
{% endblock %}