<div class="well">
    <h4>Ofertas en otras ciudades</h4>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                {% for oferta in ofertas_cercanas %}
                    <li>{{ oferta.ciudad.nombre }}:
                        <a href="{{ path('oferta', {'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">{{ oferta.nombre }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>