{% extends 'frontend.html.twig' %}

{% block title %}
    Detalles de {{ oferta.nombre }}
{% endblock %}

{% block maincontent %}
    {% include ':oferta:_oferta_completa.html.twig' %}
{% endblock %}

{% block sidebarcontent %}
    <div class="well">
        <h4>Condiciones de la Oferta</h4>
        <p>{{ oferta.condiciones }}</p>
    </div>

    {% include ':oferta:_oferta_sidebar.html.twig' %}
{% endblock %}