{% extends 'frontend.html.twig' %}

{% block title %}
    Cupon, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%
{% endblock %}

{% block bannercupon %}
    <div class="container-fluid banner-cupon">
        <div class="row ">
            <div class="col-lg-12">
                <p><a href="">CUPON</a> publica cada día una oferta increíble en tu ciudad con descuentos de hasta el 90%
                    <a class="btn btn-primary" href="#">Regístrate ya</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block maincontent %}
    {% include ':oferta:_oferta_completa.html.twig' %}
{% endblock %}

{% block sidebarcontent %}
    <div class="well">
        <h4>Sobre nosotros</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>

    {% include ':oferta:_oferta_sidebar.html.twig' %}
{% endblock %}