{% extends 'frontend.html.twig' %}

{% block pageportada 'active' %}
{% block title %}
    Cupon, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%
{% endblock %}

{% block bannercupon %}
    <div class="container-fluid banner-cupon">
        <div class="row ">
            <div class="col-lg-12">
                <p><a href="">CUPON</a> publica cada día una oferta increíble en tu ciudad con descuentos de hasta el 90%
                    <a class="btn btn-primary" href="#">Regístrate ya</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block maincontent %}
    {% include ':oferta:_oferta_completa.html.twig' %}
{% endblock %}

{% block sidebarcontent %}
    {% include ':sidebar:_sidebar_sobre_nosotros.html.twig' %}
    {% include ':sidebar:_sidebar_ofertas_cercanas.html.twig' %}
    {% include ':sidebar:_sidebar_search.html.twig' %}
{% endblock %}